[includeIf "gitdir:{{ .gitdir }}"]
	path = ~/.config/git/users/personal.gitconfig

{{ if eq .machine_type "work" -}}
[includeIf "gitdir:{{ .work_gitdir }}"]
	path = ~/.config/git/users/work.gitconfig
{{ end -}}

[core]
	quotepath = false
	pager = delta

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	default = current
	followTags = true

[pull]
	ff = only

[fetch]
	prune = true
	pruneTags = true
	fsckObjects = true

[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true

[rerere]
	enabled = true
	autoUpdate = true

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default
	mnemonicPrefix = true
	renames = copies

[commit]
	verbose = true

[help]
	autocorrect = prompt

[transfer]
	fsckObjects = true

[receive]
	fsckObjects = true

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-latte
	navigate = true
	line-numbers = true
	side-by-side = true
	hyperlinks = true
	tabs = 4

[include]
	path = ~/.config/delta/themes/catppuccin-latte.gitconfig

[ghq]
	root = ~/ghq
