[includeIf "gitdir:{{ .gitdir }}"]
	path = ~/.config/git/users/personal.gitconfig

{{ if eq .machine_type "work" -}}
[includeIf "gitdir:{{ .work_gitdir }}"]
	path = ~/.config/git/users/work.gitconfig
{{ end -}}

[core]
	quotepath = false
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-frappe
	navigate = true
	line-numbers = true
	side-by-side = false
	hyperlinks = true
	tabs = 4

[merge]
	conflictStyle = zdiff3

[ghq]
	root = ~/ghq

[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
